
node_modules/


.parcel-cache/
.cache/


dist/


.env
.env.local


.DS_Store
*.log
.idea/
.vscode/


node_modules/
.pnp/
.pnp.js


.cache/


npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.db
